.toast-container {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  z-index: 2;
  pointer-events: none;
}

.toast-box {
  /* Layout */
  position: relative;
  max-width: 70vw;
  
  /* Visual appeals */
  overflow: clip;
  font-size: small;
  background-color: blueviolet;
  border-radius: 10px;
  color: var(--translucent-black);
  
  /* Aligning contents */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: toast-in 400ms forwards;
}

.toast-box.toast-shrinking {
  animation: toast-out 400ms forwards;
  /* Not sure why below doesn't work */
  /* animation: none; */
  /* animation: toast-in 400ms reverse backwards; */
}

@keyframes toast-in {
  from {
    max-height: 0;
    margin: 0;
    padding: 0 10px;
    opacity: 0;
  }
  to {
    max-height: 2rem;
    margin: 5px;
    padding: 10px 10px;
    opacity: 1;
  }
}

@keyframes toast-out {
  from {
    max-height: 2rem;
    margin: 5px;
    padding: 10px 10px;
    opacity: 1;
  }
  to {
    max-height: 0;
    margin: 0;
    padding: 0 10px;
    opacity: 0;
  }
}
