.auth {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250%);
  
  width: 60vw;
  max-width: 80vh;
  height: 60vh;

  background-color: var(--theme-gray);
  border-radius: 1.5rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  opacity: 0;
  animation: drop 400ms ease-in-out forwards;
}

.auth__drop-shadow {
  position: fixed;
  inset: 0 0 0 0;
  animation: fade-in 200ms forwards;
}

#auth__header {
  position: absolute;
  top: 10px;
}

.auth__input {
  width: 100%;
}

.auth__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.auth__submit {
  width: 100%;
  margin: 10px;
  height: 40px;

  color: cornflowerblue;
}

@keyframes fade-in {
  to {
    background-color: rgb(0, 0, 0, 0.3);
  }
}

@keyframes drop {
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
