.main__import-notice {
  font-size: large;
  background-color: rgb(184, 184, 184);
  padding: 1rem 5rem;
  box-sizing: border-box;
  width: 80%;
  margin: 0.5rem auto;
}

.main__list-name {
  font-size: 2.5rem;
  color: var(--text-themed);
}

.main__menu {
  position: relative;
  display: inline-block;
  color: var(--text-themed)
}

.main__share {
  position: relative;
  display: inline-block;
}

.main__share-popup {
  display: inline-flex;
  padding: 0.5rem;
  width: 25rem;
  position: absolute;
  transform: translateY(100%);
  right: 0;
  top: 0;
  z-index: 1;
  
  background-color: var(--background-popup);
}

.main__share-link {
  flex: 1;
  font-size: 0.8rem;
  color: black;
}

.main__float {
  position: absolute;
  top: 0;
  left: 2rem;
  overflow: hidden;
  z-index: 1;
  
  background-color: var(--background-popup);
  animation: dropin 150ms forwards;  /* Defined in App.css */
  display: none;
}

.main__float--show {
  display: initial;
}

#task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
