#header {
  height: var(--header-height);

  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  color: white;
  color: var(--text-primary);
  white-space: nowrap;
  position: sticky;
  left:0;
  width: 100%;
  gap: 10px;
}

.header__signin {
  color: var(--text-primary);
}
.header__signup {
  color: blue;
}
.header__signout {
  color: var(--text-primary);
}

.header__search-icon {
  color: var(--text-primary);
}

#header__title {
  display: flex;
  align-items: center;
}

#header__date {
  position: relative;
  left: 0;
  overflow: hidden;
  transition: left 200ms, width 200ms ease-in-out;
  width: 20rem;
}

#header__date.header__date--hidden {
  left: -10vw;
  width: 0rem;
}

#header__input {
  width: 0;
  transition: width 200ms ease-in-out;
  color: white;
}

#header__input.header__input--active {
  width: 14rem;
}

#header__spacer {
  margin-right: auto;
}

#header__nav {
  display: flex;
  align-items: center;
}

#header__toggle {
  position: absolute;
  top: 0px;
  right: 5px;
  display: none;
}

/* Smaller screens */
@media only screen and (max-width:768px) {
  #header__title {
    display: none;
 } 
}

/* Small screens - breakpoint for mobile and tablets */
@media only screen and (max-width: 600px) {

  #header {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  #header__toggle {
    display: block;
  }

  #header__search, #header__date {
    display: none;
  }
  
  #header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 0;
    position: absolute;
    top: 45px;
    overflow: hidden;
    transition: height 200ms ease-in-out;

    background-color: inherit;
  }
  
  #header__login {
    border: none;
  }
  /* .header-elem { */
  /* To consider removing this class
  /*   visibility: hidden; */
  /* } */
  
}


/* Large screens - breakpoint for computers */
@media only screen and (min-width: 600px) {
  
}
