#header {
  height: var(--header-height);

  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  
  color: var(--text-primary-light);
  white-space: nowrap;
  left:0;
  width: 100%;
  gap: 10px;
  padding: 0 20px;
}

.header__signin {
  color: var(--text-primary-light);
}
.header__signup {
  color: blue;
}
.header__signout {
  color: var(--text-primary-light);
}


#header__title {
  display: flex;
  align-items: center;
}

#header__date {
  position: relative;
  left: 0;
  overflow: hidden;
  transition: left 200ms, width 200ms ease-in-out;
  width: 20rem;
}

#header__date.header__date--hidden {
  left: -10vw;
  width: 0rem;
}


#header__spacer {
  margin-right: auto;
}

#header__nav {
  display: flex;
  align-items: center;
}

.header__user-menu {
  position: absolute;
  width: 15rem;
  /* height: 5rem; */
  background-color: white;
  color: var(--text-primary-dark);
  right: 0;
  top: var(--header-height);
  padding: 1rem;
  display: none;
  z-index: 1;
}

.header__user-menu--active {
  display: initial;
  animation: dropin 150ms forwards;  /* Defined in App.css */
}

.header__avatar {
  /* width: 3rem; */
  /* height: 3rem; */
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.541);
}

.header__email {
  font-size: 0.8rem;
  text-overflow: ellipsis;
  /* overflow: hidden; */
  width: 100%;
  overflow: hidden;
}


/* Smaller screens */
@media only screen and (max-width: 768px) {
  #header__title {
    display: none;
 } 
}

/* Small screens - breakpoint for mobile and tablets */
@media only screen and (max-width: 600px) {
  
  #header__search, #header__date {
    display: none;
  }
  
  #header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #header__login {
    border: none;
  }
  
}


/* Large screens - breakpoint for computers */
@media only screen and (min-width: 600px) {
  
}
