#lists-sidebar {
  height: 100%;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.lists-sidebar__head {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  padding: 0 1rem;

  font-weight: 800;
  color: var(--text-themed);
}

.lists-sidebar__add-list {
  color: var(--theme-orange);
}

.lists-sidebar__lists {
  overflow-y: auto;
}
