.page {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.page__header {
  grid-column: 1 / 3;
  align-items: center;
  gap: 10px;

  color: var(--translucent-white);   /** To relocate **/
  background-color: var(--theme-bluegray);
  
  display: flex;
}

.page__menu-icon {
  display: none;
}

.page__drawer {
  width: var(--drawer-width);
  position: relative;
  overflow: clip;
}

.page__content {
  overflow: auto;
}

/* Small screens - breakpoint for mobile */
@media only screen and (max-width: 600px) {
  .page__menu-icon {
    display: inline;
    cursor: pointer;
  }

  .page__drawer {
    position: fixed;
    top: 0%;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 200ms;
    z-index: 10;
  }
  
  .page__drawer.page__drawer--open {
    transform: translateX(0);
  }
  
  .page__overlay {
    position: absolute;
    inset: 0 0 0 0;
    background-color: black;
    transition: opacity 200ms;
    opacity: 0;
    pointer-events: none;
  }

  .page__overlay.page__drawer--open {
    opacity: 0.3;
    z-index: 9;
  }
  
  .page__content {
    grid-column: 1 / 3;
  }
}
