.searchbar {
  display: flex;
  align-items: center;
}

.searchbar__box {
  width: 0;
  transition: width 200ms ease-in-out;
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.searchbar__box--active {
  width: 14rem;
  overflow: visible;
}

.searchbar__dropdown-wrapper {
  position: absolute;
  top: var(--header-height);
  right: 1px;
  z-index: 1;
  animation: dropin 150ms forwards;  /* Defined in App.css */
  border-radius: 1rem;
}

.searchbar__tags {
  border: 1.5px solid;
  border-color: var(--divider-color);
  position: relative;
  border-radius: 0.2rem;
  height: 2.3rem;
  width: 2.3rem;
  flex-shrink: 0;
  transition: border-color 150ms;

  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar__tags:hover {
  border-width: 2px;
  border-color: var(--text-themed);
}

.searchbar__num {
  background-color: var(--background-popup);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  position: absolute;
  font-size: small;
  vertical-align: middle;
  
  top: 0;
  right: 0;

}
