.tags-selector {
  width: 8rem;
  padding: 5px;

  color: black;  /* For icons inside to inherit */
  background-color: var(--background-popup);
  border: 1px solid var(--divider-color);
  font-size: small;

  flex-direction: column;
  align-items: center;
}
