.tags-selector {
  width: 8rem;
  padding: 5px;

  color: black;  /* For icons inside to inherit */
  background-color: var(--background-popup);
  border: 1px solid var(--divider-color);
  font-size: smaller;
}

.tags-selector__tags {
  overflow-y: scroll;
  max-height: 60vh;
  align-items: center;
  font-size: small;
}
