.tags-selector {
  width: 8rem;
  padding: 5px;

  color: var(--text-primary-dark);
  background-color: var(--background-popup);
  border: 1px solid var(--divider-color);
  font-size: smaller;
}

.tags-selector__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags-selector__tags {
  overflow-y: auto;
  max-height: 60vh;
  align-items: center;
  font-size: small;
  white-space: nowrap;
}
