.task__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
}

.task {
  display: flex;
  align-items: center;
  padding: 10px;

  background-color: var(--theme-gray);
  margin: 10px 0px;
  height: 50px;
  text-align: left;
  width: 80%;
}

.task__text {
  flex: 2;
}

.task__time {
  flex: 1;
}

.task__dropdown-wrapper {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: visible;
  direction: rtl;  /* make overflow to the left instead */
}

.task__dropdown {
  position: relative;
  top: 70px;
  display: flex;
  background-color: white;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  box-shadow: 5px 10px 8px #888888;
  border: 1px solid black;
}


