.task__wrapper {
  display: flex;
  width: 100%;

  flex-direction: column;
  align-items: center;
}

.task {
  display: grid;
  width: 80%;
  height: 50px;
  margin: 10px 0px;
  padding: 10px;
  position: relative;

  text-align: left;
  background-color: var(--background-default);

  /* grid-template-columns: max-content 2fr 9rem 6.5rem 5rem max-content; */
  grid-template-columns: max-content 2fr 11rem 1fr max-content;
  align-items: center;
  gap: 10px;
}

.task__checkbox {
  display: flex;

  align-items: center;
}

.task__text {
  font-size: large;
  font-weight: bold;
}

.task__text > input {
  width: 100%;
  text-overflow: ellipsis;
}

.task__pickers {
  display: flex;
  background-color: var(--background-default);
  gap: 0.5rem;
}

.task-edit .task__pickers {
  position: relative;
  width: 20rem;
  z-index: 1;
}

.task__date {
  flex: 2;
}

.task__time {
  flex: 1;
}

.tag-container {
  max-height: 50px;  /* not sure why 100% not working */
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.task__dropdown-wrapper {
  position: absolute;
  z-index: 1;
  top: 4rem;
  right: 8rem;
  animation: dropin 100ms forwards;  /* Defined in App.css */
}

.task--strikethrough {
  text-decoration: line-through 2px;
}

.task__options > div {
  margin: -0.2rem;
}

@media only screen and (max-width:768px) {
  .task {
    height: auto;
    grid-template-columns: max-content 3fr 1fr max-content;
    /* grid-template-columns: max-content 2fr 9.5rem 1fr max-content; */
    grid-auto-flow: dense;
  } 
  
  .task > * {
    grid-row: 1 / 3;
  }
  .task__text {
    grid-column: 2;
    grid-row: 1;
  }
  
  .task__pickers {
    grid-column: 2;
    grid-row: 2;
    
  }

  /* .task__date { */
  /* } */

  /* .task__time { */
  /*   grid-column: 3; */
  /*   grid-row: 2; */
  /* } */
  
  .task__options {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 600px) {
  .task {
    font-size: smaller;
  }
}
