.task__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  background-color: var(--theme-gray);
  margin: 10px 0px;
  height: 50px;
  text-align: left;
  width: 80%;
  
  gap: 10px;
}

.task__checkbox {
  flex: initial;
  
  display: flex;
  align-items: center;
}

.task__text {
  flex: 2;
  font-size: large;
  font-weight: bold;
}

.task__text > input {
  width: 100%;
  text-overflow: ellipsis;
}

.task__date {
  flex: initial;
  width: 12ch;
}

.task__time {
  flex: initial;
  width: 5ch;
}

.tag-container {
  flex: 1;
}


.task__dropdown-wrapper {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: visible;
  direction: rtl;  /* make overflow to the left instead */
}

.task__dropdown {
  position: relative;
  top: 70px;
  display: flex;
  background-color: white;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  box-shadow: 5px 10px 8px #888888;
  border: 1px solid black;
}


.task--strikethrough {
  text-decoration: line-through 2px;
}
