@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --app-font: 'Poppins', sans-serif;
  --drawer-width: 160px;
  --header-height: 45px;
  
  --theme-gray: #f4f4f4;
  --gray-primary: #566175;
  --text-primary-light: rgb(255, 255, 255, 0.87);  /* Material defaults */
  --text-primary-dark: rgb(0, 0, 0, 0.87);         /* Material defaults */
  --divider-color: rgba(0, 0, 0, 0.12);      /* Material defaults */
  
  --background-default: #fafafa;             /* Material defaults */
  --background-paper: white;                 /* Material defaults */
}


* {
  margin: 0;
  padding: 0;
}

.clickable {
  cursor: pointer;
}

.hidden {
  visibility: hidden !important;
}

.remove {
  display: none !important;
}


/* input.themed-input { */
input {
  font: inherit; /* font-family: var(--app-font); */
  min-width: 0;
  width: fit-content;
  
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;  /* By browser default, input elems have a color of black */
}

button {
  color: inherit;  /* By browser default, button elems have a color of black */
}

.lower {
  z-index: -1;
}


/*  -----------------------SPECIAL CSS END------------------------ */

.App {
  text-align: center;
  /* display: flex; */
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: var(--app-font);
  color: var(--text-primary-dark);
}


#page {
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  width: 100vw;
  overflow: scroll;

}

.tag-container {
  flex: 1;
}

/* Templates */

/* Smaller screens - tablets and below */
@media only screen and (max-width: 768px) {
}

/* Small screens - breakpoint for mobile */
@media only screen and (max-width: 600px) {
}

/* Large screens - breakpoint for computers */
@media only screen and (min-width: 600px) {
}
