@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --app-font: 'Poppins', sans-serif;
  --drawer-width: 160px;
  --header-height: 55px;
  
  --off-white: #fafafa;
  --off-black: #303030;
  --black-gray: #424242;

  --theme-bluegray: #566175;
  --theme-gray: #f4f4f4;
  --theme-orange: orange;
  --theme-purple: blueviolet;

  /* Material default colors for text */
  --translucent-white:  rgba(255, 255, 255, 0.87);
  --translucent-black: rgba(0, 0, 0, 0.87);
  
  /* Material default colors */
  --invisible-white: rgba(255, 255, 255, 0.12);
  --invisible-black: rgba(0, 0, 0, 0.12);
}


.App {
  --background-base: var(--off-white);
  --background-default: var(--theme-gray);
  --background-popup: white;
  
  --text-primary-light: var(--translucent-white);
  --text-primary-dark: var(--translucent-black);
  --text-themed: var(--theme-bluegray);              /* only applied to text within background colors */
  
  --divider-color: var(--invisible-black);
}

.App.dark {
  --background-base: var(--off-black);
  --background-default: var(--black-gray);
  --background-popup: var(--black-gray);
  
  --text-primary-light: var(--translucent-black);
  --text-primary-dark: var(--translucent-white);
  --text-themed: var(--theme-gray);

  --divider-color: var(--invisible-white);
}

.App {
  color: var(--text-primary-dark);
  background-color: var(--background-base);
  transition: background-color 300ms;
  font-family: var(--app-font);
  
  text-align: center;       /* To remove soon */
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
}


/* ----------------------- App defaults and reusable css START ------------------------ */

input {
  font: inherit; /* font-family: var(--app-font); */
  min-width: 0;
  width: fit-content;
  
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;  /* By browser default, input elems have a color of black */
}

button {
  color: inherit;  /* By browser default, button elems have a color of black */
}

kbd {
  display: inline-block;
  padding: 2px 4px;

  color: var(--theme-bluegray);
  background-color: var(--off-white);
  border-radius: 4px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;

  font-weight: bold;
  white-space: nowrap;
 }

.clickable {
  cursor: pointer;
}

.hidden {
  visibility: hidden !important;
}

.remove {
  display: none !important;
}

/* ----------------------- App defaults and reusable css END ------------------------ */


#page {
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  width: 100vw;
  overflow: scroll;

}

/* Templates */

/* Smaller screens - tablets and below */
@media only screen and (max-width: 768px) {
}

/* Small screens - breakpoint for mobile */
@media only screen and (max-width: 600px) {
}

/* Large screens - breakpoint for computers */
@media only screen and (min-width: 600px) {
}

@keyframes dropin {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
